.buttonContainer{
    position: fixed;
    bottom: 20px;
    right: 50px;
    padding: 0;
    z-index: 100;
}
.buttonContainer .backToTop{
    background: none;
    border: none;
    font-size: 2em;
    color: var(--blue);
    cursor: pointer;
    padding: none;
}

@media(max-width: 800px){
    .buttonContainer{
        bottom: 0px;
        right: 10px;
    }
}