.galleryContainer{
    width: 100vw;
    /* padding-top: 6em; */
    /* min-height: 80vh; */
    /* position: relative; */
    background-color: var(--darkblue);
    /* text-align: center; */
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galleryContainer .gallerySort{
    display: flex;
    /* flex-direction: row; */
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
.galleryContainer .gallerySort .buttonSelect{
    display: flex;
    /* flex-direction: column; */
    cursor: pointer;
    margin-bottom: .5em;
}
.galleryContainer .gallerySort .buttonSelect button{
    font-size: .8em;
    background: none;
    color:white;
    border:none;
    font-family: inherit;
}
.galleryContainer .gallerySort .active .typeSelected{
    color: var(--darkblue);
    background-color: white;
    border-radius: 10px;
}
/* .galleryContainer .gallerySort .buttonSelect i{
    font-size: .6em;
} */
/* .galleryContainer .titleSection {
    display: flex;
    justify-content: center;

} */
/* .galleryContainer .titleSection h4{
    font-size: 5em;
    padding-top: 3em;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--white);
}  */
.imgContainer{
    display: flex;
    flex-direction: row;
    width:90vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imgContainer .activegalleryImg{
    width: 22%;
    background-color: black;
    display: flex;
    align-items: center;
    margin:.3em;
}
.imgContainer .activegalleryImg .img{
    width: 100%;
}
.imgContainer .galleryImg{
    display: none;
}
@media(max-width: 800px){
    .galleryContainer .gallerySort{
        font-size: .8em;
    }
    .imgContainer{
        display: flex;
        flex-direction: column;
        width:100vw;
    }
    .imgContainer .activegalleryImg{
        width: 100vw;
        background-color: black;
        display: flex;
        align-items: center;
        margin:0;
    }
    .imgContainer .activegalleryImg .img{
        width: 100%;
    }
    .imgContainer .galleryImg{
        display: none;
    }
}
@media(max-width: 500px){
    .galleryContainer .gallerySort{
        font-size: .6em;
        width: 80%;
        margin: auto;
    }
    .allText{
        /* padding: 0; */
    }
}