.homeContainer{
    margin-top: 5em;
    position: relative;
}
.homeContainer .head{
    width:100%;
    position: absolute;
    top:20em;
}
.homeContainer img{
    width:100%;
    top:0;
    left:0;
    z-index: -1;
}
.homeContainer .head .headTitle{
    width: 100%;
    color: black;
    text-shadow: 0 0 10px white;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 5em;
    text-align: center;  
    position: absolute;
    z-index: 10;  
    top: 0%;
    left:50%;
    transform: translate(-50%, -50%);
}
.homeContainer .head .titleButton{
    padding: .5em 1.2em;
    font-size: 1.6em;
    cursor: pointer;
    border: 2px solid #3c3c44;
    border-radius: 5px;
    user-select: none;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    margin-top: 3em;
}
.homeContainer .head .titleButton:hover{
    background-color: blue;
}
/* @media(max-width: 1200px){
    
} */
@media(max-width: 800px){
    .homeContainer .head{

        top:10em;
    }
    .homeContainer img{

    }
    .homeContainer .head .headTitle{
        font-size: 4em;
    }
    .homeContainer .head .titleButton{
        padding: .5em 1em;
        font-size: 1.2em;
    }
}
@media(max-width: 560px){
    .homeContainer .head .headTitle{
        font-size: 2.5em;
    }
    .homeContainer .head .titleButton{
        padding: .4em .8em;
        font-size: 1em;
    }
}

/*--------------- ABOUT ---------------*/
.homeContainer .about{
    padding: 3em;
}
.homeContainer .about .aboutEW{
    font-size: 3em;
}
.homeContainer .about .aboutText{
    font-size: 1.6em;

}
@media(max-width: 1200px){

}
@media(max-width: 800px){

}
@media(max-height: 560px){

}
@media(max-width: 540px){

}