.homeContainer{
    width: 100vw;
    height: 100vh;
    margin-top: 8em;
}
.homeContainer .head{
    height: 100%;
    align-items: center;
    position: relative;
}
.homeContainer img{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.homeContainer .head .headTitle{
    color: black;
    text-shadow: 0 0 10px white;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 6em;
    text-align: center;  
    position: absolute;
    z-index: 10;  
    top: 17%;
    left:50%;
    transform: translate(-50%, -50%);
}
.homeContainer .head .titleButton{
    padding: .5em 1.2em;
    font-size: 1.6em;
    cursor: pointer;
    border: 2px solid #3c3c44;
    border-radius: 5px;
    user-select: none;
    position: absolute;
    z-index: 10;
    top: 25%;
    left:50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px #3c3c44;
}
.homeContainer .head .titleButton:hover{
    background-color: blue;
}
.homeContainer .about{
    position: relative;
}
.homeContainer .about .aboutEW{

}
.homeContainer .about .aboutText{
    color: black;
}

@media(max-width: 800px){

}
@media(max-height: 560px){

}
@media(max-width: 540px){

}